<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Pizza</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1> Welcome to Express Pizza!</h1>
    <h2>Specialty Pizzas</h2>
    <ol>
        <li><a href="/specialtypizzasdetails?name=Anchovy+Pizza&price=15">Anchovy Lovers Pizza</a></li>
        <li><a href="/specialtypizzasdetails?name=Paleo+Pizza&price=10">Paleo Pizza</a></li>
        <li><a href="/specialtypizzasdetails?name=Dessert+Pizza&price=18"> Dessert Pizza</a></li>
    </ol>

    <h2> Custom Pizza</h2>
    <a href="/byo">Build your own!</a>
    
    <h2>Leave a review</h2>
    <a href="/leaveareview">Click here to leave a review</a>
</body>
</html>